<!DOCTYPE html>
<html ng-app="principalModule">
<head>
  <title>Lpink</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
 <%= csrf_meta_tags %>
</head>
<style media="screen">
  .side-nav{
    background-color: #FFFFFF!important;
    color: #870058!important;
    text-decoration: none!important;
    font-size: 15px!important;
  }

  .side-nav li ul a {
    background-color: #FFFFFF!important;
    color: #870058!important;
    text-decoration: none!important;
    font-size: 15px!important;
  }
  /* mouse over link */
  .side-nav a:hover {
    background-color: #D7D7D7!important;
    color: #870058!important;
    text-decoration: none!important;
    font-size: 15px!important;
  }

</style>

<body class="cafe-claro">
<div class="navbar navbar-warning rosado-fuerte" role= "navigation">

    <div class="menupad container ">
      <a  data-activates="side-menu" class="button-collapse show-on-large"><i class="mdi-navigation-menu" style="font-size: 40px;"></i></a>
      <a class="brand-logo"><%= image_tag "logo4.png", :class => "responsive-img adaptarLogo", :title => "logo"%></a>
    </div>
      <ul id="side-menu" class="side-nav">
        <li><a href="#"><span style="color: #870058!important;font-size: 15px!important;">Inicio</span></a></li>
        <li><a href="#"><span style="color: #870058!important;font-size: 15px!important;">Proyectos</span></a></li>
      </ul>

</div>


<br>
<div class="container">
	<div class="container panel panel-default" >
		<br>
		<%= yield %>
	</div>
</div>



</body>
<script>

             $('.button-collapse').sideNav({
                  menuWidth: 300, // Default is 240
                  edge: 'right', // Choose the horizontal origin
                  closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                }
              );
</script>
</html>
