<!DOCTYPE html>
<html ng-app="principalModule">
<head>
  <title>Lpink</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
 <%= csrf_meta_tags %>
</head>


<body class="cafe-claro">
<div class="navbar navbar-warning rosado-fuerte">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" ><%= image_tag "logo4.png", :class => "adaptarLogo", :title => "logo"%></div>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#">Proyectos</a></li>
            <li class="dropdown">
                <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Acciones <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Actas</a></li>
                    <li><a href="#">Participantes</a></li>
                    <li><a href="#">Elementos dialógicos</a></li>
                    <li class="divider"></li>
                    
                    <li><a href="#">Seguimiento de acta</a></li>
                    
                </ul>
            </li>
        </ul>
    
    </div>
</div>


<br>
<div class="container">
	<div class="container panel panel-default" >
		<br>
		<%= yield %>
	</div>
</div>



</body>
<script>
	
</script>
</html>
